@import (inline) "normalize.css/normalize.css";

@font-gotham-black: GothamProBlack, Arial, sans-serif;
@font-gotham: GothamProRegular, Arail, sans-serif;

body {
  background-color: #fff;
  font: 15px OpenSansRegular, Arial, sans-serif;
  color: #2d2d2d;
}
.wrapper {
  width: 990px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  z-index: 1;
}
.header {
  height: 139px;
  padding-top: 1px;
}
.logo {
  width: 179px;
  height: 80px;
  margin-top: 17px;
}
.logo__link {
  display: block;
  width: 179px;
  height: 80px;
  background: url("../images/logo.png") no-repeat;
}
.section {
  padding: 1px 0;
  position: relative;
}
.schedule {
  position: relative;
  color: #fff;

  &:before {
    content: '';
    width: 100%;
    height: 850px;
    background: #33c273;
    transform: skewY(-5.7deg);
    position: absolute;
    top: -70px;
  }
}
.title {
  text-transform: uppercase;
  font-size: 70px;
  font-family: @font-gotham-black;
  line-height: 0.9;
  letter-spacing: 1px;
  margin: 78px 0 0;
  padding: 0;
}
.title-line {
  font-size: 35px;
}
.date {
  font-family: @font-gotham;
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 33px;
}
.date__title {
  font-size: 17px;
  letter-spacing: 1px;
  margin-bottom: 5px;
}
.list {
  font-size: 18px;
  margin-top: 30px;
}
.list__item {
  margin-top: 3px;
}
.grid-title {
  font-weight: bold;
  font-size: 18px;
  position: relative;
  padding: 15px 0;
  margin-top: 42px;

  &:before {
    content: '';
    width: 44px;
    height: 2px;
    background: #99e1b9;
    position: absolute;
    left: 0;
    top: 0;
  }
}
.grid {
  margin: 6px -16px 0;
}
.grid-table {
  width: 100%;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, .1);
  font-size: 14px;
  text-transform: uppercase;

  td {
    border: 1px solid #fff;
    text-align: center;
    padding: 16px 0;
  }
}
.grid__link {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.feb-schedule {
  text-align: center;
  margin-top: 45px;
}
.button {
  display: inline-block;
  background: #fff;
  color: #33c273;
  font-family: @font-gotham;
  font-size: 14px;
  font-weight: 700;
  padding: 15px 26px;
  border: 2px solid #fff;
  border-radius: 26px;
  text-decoration: none;
}
.button_white {
  background: #fff;
  color: #b3c7d1;
  border-color: #b3c7d1;
}
.caption {
  margin: 0 0 32px;
  padding: 0;
  font-family: @font-gotham-black;
  font-size: 51px;
  color: #2d2d2d;
}
.caption_partners {
  font-size: 28px;
  margin-bottom: 21px;
}
.news {
  margin-top: 178px;
  overflow: hidden;
}
.news-list {

}
.news-item {
  padding-top: 20px;
  border-bottom: 1px solid #e5ebef;
  overflow: hidden;

  &:last-child {
    border-bottom: 0 none;
  }
}
.news-content {
  margin-bottom: 16px;
}
.news__date {
  color: #adbcbc;
  font-size: 13px;
  margin-top: -5px;
}
.news__title {
  font-weight: bold;
  font-size: 19px;
  margin-bottom: 4px;

  a {
    color: #2d2d2d;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}
.news__image {
  float: left;
  margin: -20px 20px 20px 0;
}
.news-more {
  text-align: center;
  margin-top: 80px;
}
.wrapper_news {
  padding-bottom: 90px;

  &:after {
    content: '';
    width: 188px;
    height: 462px;
    background: url("../images/news.png") no-repeat transparent;
    position: absolute;
    bottom: -1px;
    right: -168px;
    z-index: 2;
  }
}
.gallery {
  height: 963px;
  background: #1b1b27;
}
.contacts {
  height: 450px;
  padding: 0;
}
.map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.place {
  width: 30.98591549295775%;
  background: #33c273;
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 3;

  &:before {
    content: '';
    width: 0;
    height: 0;
    border-top: 225px solid transparent;
    border-left: 45px solid #33c273;
    border-bottom: 225px solid transparent;
    position: absolute;
    right: -45px;
    top: 0;
    z-index: 3;
  }
}
.place-wrapper {
  width: 238px;
  float: right;
  font-size: 17px;
  margin-top: 133px;
}
.place__title {
  font-family: @font-gotham-black;
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.place__address {
  margin-bottom: 6px;
}
.partners {
  margin-top: 54px;
}
.partners-list {
  text-align: center;
  height: 160px;
  margin: 21px 0;
}
.partners__image {
  vertical-align: bottom;
}
.partners__link {
  display: inline-block;
  vertical-align: middle;
  margin: 0 30px;
}
.footer {
  background: #003866;
}
.wrapper_footer {
  margin-top: 41px;
  padding-bottom: 100px;
  overflow: hidden;
  color: #fff;
  background: url("../images/footer.png") no-repeat 50% 100%;
}
.footer__left {
  float: left;
}
.footer__company {
  font-size: 13px;
}
.footer__link {
  color: #fff;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
.footer__right {
  float: right;
  text-align: right;
}
