extends layout

block content
  header.header
    .wrapper
      .logo
        a.logo__link(href="#")
  section.section.schedule
    .wrapper
      h1.title
        span.title-line Первенство
        br
        | ХМАО-Югры 2016
      .date
        .date__title Дата проведения:
        .date__date 13–20 февраля
      .list
        .list__item
          b Возрастные категории:
          |  9-10 лет, 15 лет и моложе, 17 лет и моложе.
        .list__item
          b Место проведения:
          |  г. Ханты-Мансийск, Центр развития теннисного спорта
        .list__item
          b Телефон для справок:
          |  8 (3467) 33-33-33
      .grid-title Сетки турнира:
      .grid
        table.grid-table
          tr
            each val in ['Девочки 9-10 лет', 'Девушки 15 лет и моложе', 'Девушки 17 лет и моложе', 'Микст до 17 лет']
              td
                a.grid__link(href='#')= val
          tr
            each val in ['юноши 9-10 лет', 'юноши 15 лет и моложе', 'юноши 17 лет и моложе', 'Микст до 17 лет']
              td
                a.grid__link(href='#')= val
      .feb-schedule
        a.button(href='#') РАСПИСАНИЕ НА 25 ФЕВРАЛЯ
  section.section.news
    .wrapper.wrapper_news
      h2.caption новости
      .news-list
        .news-item
          img.news__image(src='images/content/img1.png')
          .news-content
            .news__date 20.01.2016
            .news__title
              a(href='#') Прошел первый день турнира
            .news__text
              | Задача организации, в особенности же постоянный количественный рост и сфера нашей
              | активности требуют от нас анализа системы обучения кадров.
        .news-item
          .news-content
            .news__date 20.01.2016
            .news__title
              a(href='#') Прошло открытие Первенства ХМАО-Югры 2016
            .news__text
              | Задача организации, в особенности же постоянный количественный рост и сфера нашей
              | активности требуют от нас анализа системы обучения кадров.
        .news-item
          .news-content
            .news__date 20.01.2016
            .news__title
              a(href='#') Второй день турнира окончен. Игры были интересными. Ждем третий.
      .news-more
        a.button.button_white(href='#') ЗАГРУЗИТЬ ЕЩЕ
  section.section.gallery
    .wrapper
      h2.caption.caption_gallery ГАЛЕРЕЯ турнира
      .gallery-wrapper
        .fotorama(data-nav='thumbs')
          each val in [2, 2, 2, 2]
            img(src='images/content/img' + val + '.png')
  section.section.contacts
    #map.map
    .place
      .place-wrapper
        .place__title
          | Место
          br
          | проведения
        .place__address
          b
            | Ханты-Мансийск,
            br
            | ул. Студенческая, 21,
        .place__text
          | Центр развития
          br
          | теннисного спорта
  section.section.partners
    .wrapper
      h2.caption.caption_partners ПАРТНЕРЫ ФЕДЕРАЦИИ
      .partners-list
        each val in [1, 2, 3, 4, 5]
          a.partners__link(href='#')
            img.partners__image(src='images/content/p' + val + '.png')
  footer.section.footer
    .wrapper.wrapper_footer
      .footer__left
        p.footer__company
          | © 2016 Региональная Спортивная Общественная Организация
          br
          | «Федерация тенниса Ханты-Мансийского автономного округа – Югры»
        p
          | Адрес: Ханты-Мансийский автономный округ – Югра,
          br
          | г. Ханты-Мансийск, ул. Студенческая 21
        p
          b Телефон:
          = ' '
          a.footer__link(href='#') 8 (3463) 33-32-13
        p
          b Эл. почта:
          = ' '
          a.footer__link(href='#') tennis@mail.ru
      .footer__right
        p
          | Разработка и поддержка —
          br
          a.footer__link(href='//ugraweb.ru', target='_blank') Югорские Интернет Решения
  script(src="https://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU")
  script.
    /* global ymaps */
    /** @property {Function} ymaps.Map */
    (function () {
      'use strict';
      ymaps.ready(function () {
        new ymaps.Map("map", {
          center: [61.014456, 69.025711],
          zoom: 16
        });
      });
    } ());
  script(src="./js/jquery-2.2.0.js")
  script(src='./js/fotorama/fotorama.js')
